<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid animated fadeIn">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h3 class="text-themecolor">Administracoion Oficina</h3>
            </div>

        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->

        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->

        <div class="form-group row">
            <button type="button" class=" btn btn-outline-primary">Agregar Oficina</button>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <table id="demo-foo-accordion" class="table m-b-0 toggle-arrow-tiny">
                            <thead>
                                <tr>
                                    <th data-toggle="true"> Nombre</th>
                                    <th data-toggle="true"> Usuario</th>
                                    <th data-toggle="true"> Acciones</th>
                                    <th>Eliminar</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let ofi of oficinas">
                                    <td>{{ofi.nombre_oficina}}</td>
                                    <td>
                                        <a (click)="seleccionarOficina(ofi.id_oficina);" class="btn btn-success"
                                            data-toggle="modal" data-target=".selecOfi"><i
                                                class="fa fa-eye"></i></a>
                                    <td>
                                        <a class="btn btn-warning" data-toggle="modal" ><i class="fa fa-edit"></i></a>
                                    </td>
                                    <td>
                                        <a class="btn btn-success"><i class="fa fa-trash"></i></a>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>-
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Page wrapper  -->


<!-- ======================SELECCIONAR USUARIO======================================== -->

<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <!-- sample modal content -->
                <div class="modal fade selecOfi" tabindex="-1" role="dialog"
                    aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="myLargeModalLabel">Permisos </h4>
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            </div>
                            <div class="card">
                                <form id="contenidoexpediente">
                                    <div class="card-body">
                                        <div class="form-body">
                                            <div class="col-12">


                                                <div class="table-responsive-lg">
                                                    <table class="table">


                                                        <thead>
                                                            <tr>
                                                                <th data-toggle="true"> Permiso</th>
                                                                <th data-toggle="true"> Editar </th>
                                                                <th>Eliminar</th>

                                                            </tr>
                                                        </thead>


                                                        <tbody>
                                                            <tr  class="col-12">
                                                                <td><label for="example-search-input"
                                                                        class="col-12 col-form-label"></label>
                                                                </td>
                                                                <td>
                                                                    <a 
                                                                        class="btn btn-warning" data-toggle="modal"
                                                                        data-target=".example2-modal-lg"><i
                                                                            class="fa fa-edit"></i></a>
                                                                </td>
                                                                <td>
                                                                    <a 
                                                                        class="btn btn-success"><i
                                                                            class="fa fa-trash"></i></a>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>





                                            </div>
                                        </div>

                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <!-- /.modal -->
            </div>
        </div>
    </div>
</div>
