<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid animated fadeIn">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h3 class="text-themecolor">Administracoion Oficina</h3>
            </div>

        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->

        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->

        <div class="form-group row">
            <button type="button" class=" btn btn-outline-primary" data-toggle="modal" data-target=".agregarOficina">Agregar Oficina</button>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <table id="demo-foo-accordion" class="table m-b-0 toggle-arrow-tiny">
                            <thead>
                                <tr>
                                    <th data-toggle="true"> Nombre</th>
                                    <th data-toggle="true"> Usuario(s)</th>
                                    <th data-toggle="">Telefono</th>
                                    <th data-toggle="true"> Acciones</th>
                                    <th>Eliminar</th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let ofi of oficinas">
                                    <td>{{ofi.nombre_oficina}}</td>
                                    <td>
                                        <a (click)="seleccionarOficinaUsuario(ofi.id_oficina);" class="btn btn-success"
                                            data-toggle="modal" data-target=".selecOfi"><i class="fa fa-eye"></i></a>
                                    </td>
                                    <td>{{ofi.telefono_oficina}}</td>
                                    <td>
                                        <a (click)="seleccionarOficina(ofi.id_oficina)" class="btn btn-warning" data-toggle="modal" data-target=".selOficina"><i class="fa fa-edit"></i></a>
                                    </td>
                                    <td>
                                        <a class="btn btn-success"><i class="fa fa-trash"></i></a>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>-
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Page wrapper  -->



<!-- Modal para AGREGAR OFICINA -->


<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <!-- sample modal content -->
                <div class="modal fade agregarOficina " tabindex="-1" role="dialog"
                    aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="myLargeModalLabel">Agregar Oficina</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            </div>
                            <div class="card">
                                <form>
                                    <div class="card-body">
                                        <div class="form-body">
                                            <div class="row p-t-20">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label">Nombre de Oficina</label>
                                                        <input type="text" class="form-control"
                                                            name="OficinaAgregar.nombre_oficina" [(ngModel)]="oficinaAgregar.nombre_oficina"
                                                            placeholder="Nombre de oficina">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label">Telefono</label>
                                                        <input type="text" class="form-control"
                                                            name="oficinaAgregar.telefono_oficina" [(ngModel)]="oficinaAgregar.telefono_oficina"
                                                            placeholder="Telefono de oficina">
                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                        <div class="form-actions">
                                            <button (click)="agregarOficina()" class="btn btn-success"> <i
                                                    class="fa fa-check"></i> Agregar </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <!-- /.modal -->
            </div>
        </div>
    </div>
</div>





<!-- ======================SELECCIONAR USUARIO======================================== -->

<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <!-- sample modal content -->
                <div class="modal fade selecOfi" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
                    aria-hidden="true" style="display: none;">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="myLargeModalLabel">Usuario(s) </h4>
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            </div>
                            <div class="card">
                                <form id="contenidoexpediente">
                                    <div class="card-body">
                                        <div class="form-body">
                                            <div class="col-12">


                                                <div class="table-responsive-lg">
                                                    <table class="table">


                                                        <thead>
                                                            <tr>
                                                                <th data-toggle="true"> Nombre</th>
                                                                <th>Apellido</th>
                                                                <th>Cargo</th>
                                                                <th>Telefono</th>

                                                            </tr>
                                                        </thead>


                                                        <tbody>
                                                            <tr *ngFor="let us of oficina" class="col-12">
                                                                <td>{{us.nombre_usuario}}</td>
                                                                <td>{{us.apellido_usuario}}</td>
                                                                <td>{{us.nombre_cargo}}</td>
                                                                <td>{{us.telefono_usuario}}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>





                                            </div>
                                        </div>

                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <!-- /.modal -->
            </div>
        </div>
    </div>
</div>


<!-- Modal para editar OFICINA -->


<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <!-- sample modal content -->
                <div class="modal fade selOficina " tabindex="-1" role="dialog"
                    aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="myLargeModalLabel">Modificar Oficina</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            </div>
                            <div class="card">
                                <form>
                                    <div class="card-body">
                                        <div class="form-body">
                                            <div class="row p-t-20">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label">Nombre de Oficina</label>
                                                        <input type="text" class="form-control"
                                                            name="selOficina.nombre_oficina" [(ngModel)]="selOficina.nombre_oficina"
                                                            placeholder="Nombre de oficina">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label">Telefono</label>
                                                        <input type="text" class="form-control"
                                                            name="selOficina.telefono_oficina" [(ngModel)]="selOficina.telefono_oficina"
                                                            placeholder="Telefono de oficina">
                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                        <div class="form-actions">
                                            <button (click)="editarOficina()" class="btn btn-success"> <i
                                                    class="fa fa-check"></i> Guardar </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <!-- /.modal -->
            </div>
        </div>
    </div>
</div>