<div class="container">
    <h1></h1>    
    <div class="card-body">
        <div class="form-body">
            <h3 class="card-title">Login</h3>
            <hr>
            <div class="row p-t-20">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Usuario<input type="text" [(ngModel)]="login.usuario" class="form-control"></label>
                    </div>
                </div> 
                
            </div>
            <div class="row p-t-20">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Contraseña<input type="password" [(ngModel)]="login.password" class="form-control"></label>
                        
                    </div>
                </div>
            </div>
            <div class="form-actions col-4" >
                <button class="btn btn-primary btn-block" (click)="loginUsuario()">Iniciar Sesion</button>
            </div>
        </div>
    </div>
</div>