<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid animated fadeIn">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h3 class="text-themecolor">Administracoion Materiales</h3>
            </div>

        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->

        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        
        <div class="form-group row">
            <button type="button"  class=" btn btn-outline-primary" data-toggle="modal" data-target=".agregarMaterial-modal-lg">Agregar Material</button>
            </div>

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <table id="demo-foo-accordion" class="table m-b-0 toggle-arrow-tiny">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Estado</th>
                                    <th>Descripcion</th>
                                    <th>Fecha de Compra</th>
                                    <th>Tipo</th>
                                    <th>Oficina</th>
                                    <th>Caracteristicas</th>
                                    <th>Acciones</th>
                                    <th>Eliminar</th>
                                    

                                </tr>
                            </thead>
                            <tbody>
                                <tr  *ngFor="let mat of materiales">
                                    <td>{{mat.nombre_material}}</td>
                                    <td>{{mat.estado}}</td>
                                    <td>{{mat.descripcion_material}}</td>
                                    <td>{{mat.fecha_compra}}</td>
                                    <td>{{mat.desc_tipo_material}}</td>
                                    <td>{{mat.nombre_oficina}}</td>
                                    <td>
                                        <a  (click)="descripcionMaterial(mat)" class="btn btn-success" 
                                            data-toggle="modal" data-target=".modaldetalle"><i
                                                class="fa fa-eye"
                                                ></i></a>
                                    </td>
                                    <td>
                                        <a   class="btn btn-warning"
                                            data-toggle="modal" ><i
                                                class="fa fa-edit"></i></a>
                                    </td>
                                    <td>
                                        <a  (click)="eliminarMaterial(mat.id_material)" class="btn btn-success"><i class="fa fa-trash"></i></a>
                                    </td>
                                    
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>-
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Page wrapper  -->
<!-- ============================================================== -->


<!-- /.modal para ver Caracteristicas-->

<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <!-- sample modal content -->
                <div class="modal fade  modaldetalle" tabindex="-1" role="dialog"
                    aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="myLargeModalLabel">Caracteristicas </h4>
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            </div>
                            <div class="card">
                                <p class="form-control">{{   caracteristica.caracteristicas}}</p>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <!-- /.modal -->
            </div>
        </div>
    </div>
</div>

















<!-- ================================   AGREGAR MATERIAL   ========================== -->

<div class="row">
    <div class="col-md-4">
    <div class="card">
        <div class="card-body">
            <!-- sample modal content -->
            <div class="modal fade agregarMaterial-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="myLargeModalLabel">Agregar Material</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        </div>
                        <div class="card">
                            <form>
                            <div class="card-body">
                                    <div class="form-body">
                                        <div class="row p-t-8">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="control-label">Nombre</label>
                                                    <input type="text"  class="form-control" name="material.nombre_material" [(ngModel)]="material.nombre_material" placeholder="Nombre de material" >
                                                </div>
                                            </div>
                                                                                        
                                        </div>

                                        <div class="row p-t-8">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="control-label">Tipo</label>
                                                    <select  class="form-control " name="material.id_tipo" [(ngModel)]="material.id_tipo">
                                                        <option value="1"  class="form-control">Ofimatica</option>
                                                        <option value="4" class="form-control">Mobiliario</option>
                                                        <option value="3" class="form-control">Papeleria</option>
                                                        <option value="2" class="form-control">Estanteria</option>
                                                        <option value="5" class="form-control">Red Informatica</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row p-t-8">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="control-label">Estado</label>
                                                    <select  class="form-control " name="material.estado" [(ngModel)]="material.estado">
                                                        <option value="nuevo"  class="form-control">Nuevo</option>
                                                        <option value="medio" class="form-control">Medio</option>
                                                        <option value="usado" class="form-control">Viejo</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row p-t-8">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label">Oficina</label>
                                                    <select  class="form-control " name="material.id_oficina" [(ngModel)]="material.id_oficina">
                                                        <option value="1"  class="form-control">Of 1</option>
                                                        <option value="2" class="form-control">Of 2</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label">Usuario</label>
                                                    <select  class="form-control " name="material.id_usuario" [(ngModel)]="material.id_usuario">
                                                        <option value="1"  class="form-control">Ingeniero / </option>
                                                        <option value="2" class="form-control">:::::</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row p-t-8">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="control-label">Descripcion</label>
                                                    <input type="text"  class="form-control" name="material.descripcion_material" [(ngModel)]="material.descripcion_material" placeholder="descripcion" >
                                                </div>
                                            </div>                               
                                        </div>

                                        <div class="row p-t-8">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="control-label">Caracteristicas</label>
                                                    <!-- <input type="text"  class="form-control"  placeholder="descripcion" > -->
                                                    <textarea name="" id="" cols="20" rows="2" class="form-control" name="material.caracteristicas" [(ngModel)]="material.caracteristicas" ></textarea>
                                                </div>
                                            </div>                                    
                                        </div>

                                        <div class="row p-t-6">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="control-label">Fecha Compra</label>
                                                    <input type="date" name="" id="" class="form-control" name="material.fecha_compra" [(ngModel)]="material.fecha_compra" >
                                                </div>
                                            </div>                               
                                        </div>

                                                                              
                                    </div>
                                    <div class="form-actions">
                                        <button (click)="agregarMaterial()" class="btn btn-success"> <i class="fa fa-check" ></i> Agregar </button> 
                                    </div>
                            </div>
                            </form>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!-- /.modal -->                                
        </div>
    </div>
    </div>
    </div>