<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid animated fadeIn">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h3 class="text-themecolor">Movimiento de Materiales</h3>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->

        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        
        <div class="form-group row">
            <!-- <button type="button"  class=" btn btn-outline-primary" data-toggle="modal" data-target=".agregarMaterial-modal-lg"> Material</button> -->
            </div>

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <table id="demo-foo-accordion" class="table m-b-0 toggle-arrow-tiny">
                            <thead>
                                <tr>
                                    <th>Fecha Mov</th>
                                    <th>Tipo Mov</th>
                                    <th>id_of_Origen</th>
                                    <th>Oficina Destino</th>
                                    <th>Material</th>
                                    <th>Cantidad</th>
                                    <th>Descripcion</th>
                                    

                                </tr>
                            </thead>
                            <tbody>
                                
                                <tr  *ngFor="let mov of movimientos ">
                                    <td>{{mov.fecha_movimiento}}</td>
                                    <td>{{mov.tipo_movimiento}}</td>
                                    <td>{{mov.id_origen}}</td>
                                    <td>{{mov.nombre_oficina}}</td>
                                    <td>{{mov.nombre_material}}</td>
                                    <td>{{mov.cantidad}}</td>
                                    <td>{{mov.motivo_movimiento}}</td>
                                   
                                    
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>-
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
</div>