<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid animated fadeIn">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h3 class="text-themecolor">Movimiento de Materiales</h3>
            </div>

        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->

        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        
        <div class="form-group row">
            <!-- <button type="button"  class=" btn btn-outline-primary" data-toggle="modal" data-target=".agregarMaterial-modal-lg"> Material</button> -->
            </div>

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <table id="demo-foo-accordion" class="table m-b-0 toggle-arrow-tiny">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Estado</th>
                                    <th>Descripcion</th>
                                    <th>Fecha de Compra</th>
                                    <th>Tipo</th>
                                    <th>Oficina</th>
                                    <th>Caracteristicas</th>
                                    

                                </tr>
                            </thead>
                            <tbody>
                                <tr  >
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>
                                        <a   class="btn btn-success" 
                                            data-toggle="modal" data-target=".modaldetalle"><i
                                                class="fa fa-eye"
                                                ></i></a>
                                    </td>
                                   
                                    
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>-
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
</div>