<!-- Page wrapper  -->
<!-- ============================================================== -->
<div class="page-wrapper">

    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid animated fadeIn">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h3 class="text-themecolor">Traslado</h3>
            </div>
            <div class="">

            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="card">

                    <div class="card-body">
                        <div class="form-body">
                            <h3 class="card-title">Movimiento Material</h3>
                            <hr>
                            <div class="row p-t-20">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Oficina Origen</label>
                                        <select name="trasladoMaterial.id_oficinaSalida" [(ngModel)]="trasladoMaterial.id_oficinaSalida" id="" class="form-control">
                                            <option *ngFor="let ofiAlmacen of oficinas" [value]="ofiAlmacen.id_oficina" class="form-control" (click)="seleccionarOficinaAlmacen(ofiAlmacen.id_oficina)">{{ofiAlmacen.nombre_oficina}}</option>
                                        </select>
                                    </div>
                                </div>
                                <!--/span-->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Oficina Destino</label>
                                        <select name="trasladoMaterial.id_oficinaEntrada" [(ngModel)]="trasladoMaterial.id_oficinaEntrada" id="" class="form-control">
                                            <option *ngFor="let ofi of oficinas" [value]="ofi.id_oficina" class="form-control" >{{ofi.nombre_oficina}}</option>
                                        </select>
                                    </div>
                                </div>
                                <!--/span-->
                            </div>
                            <!--/row-->
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Material</label>
                                        <select name="trasladoMaterial.id_material" [(ngModel)]="trasladoMaterial.id_material" id="" class="form-control">
                                            <option *ngFor="let matAlmacen of oficinaAlmacen" [value]="matAlmacen.id_material" class="form-control" (click)="onChangeCantidad(matAlmacen.id_material)">{{matAlmacen.nombre_material}}</option>
                                        </select>
                                        {{cantidadMaterial.cantidad}}
                                    </div>
                                </div>
                                <!--/span-->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Cantidad</label>
                                        <input name="trasladoMaterial.cantidad" [(ngModel)]="trasladoMaterial.cantidad" type="text" class="form-control" placeholder="123">
                                        
                                    </div>
                                </div>
                                <!--/span-->
                            </div>
                            <!--/row-->

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Descripcion Movimiento</label>
                                        <textarea  name="trasladoMaterial.motivo_movimiento" [(ngModel)]="trasladoMaterial.motivo_movimiento" class="form-control" name="" id="" cols="30" rows="10"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Tipo Movimiento</label>
                                        <input type="text" name="" id="" name="trasladoMaterial.tipo_movimiento" [(ngModel)]="trasladoMaterial.tipo_movimiento" class="form-control"> 
                                    </div>
                                </div>
                                <!--/span-->

                                <!--/span-->
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Fecha</label>
                                        <input type="date" id="" name="trasladoMaterial.fecha_movimiento" [(ngModel)]="trasladoMaterial.fecha_movimiento" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-actions">
                            <button class="btn btn-success" (click)="trasladarMaterial()"> <i class="fa fa-check"></i> Guardar </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Row -->
    </div>
</div>
<!-- ============================================================== -->
<!-- End Page wrapper  -->
<!-- ============================================================== -->